
.light {
  color: #000;
  background: #eee;
  font-family: Arial;
}

.dark {
  color: #eee;
  background: #111;
  font-family: Arial;
}

#character-presets {
  font-size: 24px;
}

#export-area {
  max-width: 80%;
  width: 80%;
}

body.dark input {
  color: #eee;
  background: #444;
}

body.dark select {
  color: #eee;
  background: #444;
}

body.light button {
  color: #000;
  background: #ddd;
}

body.dark button {
  color: #eee;
  background: #111;
}

body.dark div {
  background: #111;
}

.game-area {
  display: flex;
  margin: auto;
}

@media (max-aspect-ratio: 16/9){
  .game-area {
    width: 100%
  }
}

@media (min-aspect-ratio: 16/10){
  .game-area {
    width: 75%
  }
}

#log-area {
  flex: 5;
  display:none;
}

body.light #log {
  height: 900px;
  overflow: auto;
  color: #000;
  background-color: #fff;
}

body.dark #log {
  height: 900px;
  overflow: auto;
  color: #eee;
  background-color: #111;
}

.stat-header-self {
  font-weight: bold;
  font-size: 150%;
  min-width:250px;
}

.stat-header {
  font-weight: bold;
  font-size: 150%;
  min-width:130px;
}

.stat-line {
  font-weight: normal;
  font-size: 12pt;
}

.stat-line-hidden {
  font-weight: normal;
  font-size: 12pt;
}

.stat-line-hidden {
  display: none;
  background-color: #f00;
  position: relative;
}

.stat-line-hidden:before {
  content: attr(data-stat);
  position: absolute;
  text-align: center;
  top: 5px;
  left: 0;
  right: 0;
}

.stat-line-hidden .value {
  background-color: #0f0;
  display: inline-block;
  height: 24px;
  width: attr(data-percent percentage);
}

progress {
  background: blue;
}

.stat-percent-full {
  background: #f00;
}

.sidebar {
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: right;
  min-width: 250px;
  flex: 1;
}

.preset-selector {
  height: 25px;
}

.option-container {
  margin: auto;
}

.button-container {
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
}

.stat-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1
}

.action-part-container {
  max-height: 1000px;
  display: flex;
  flex-wrap: wrap;
}

#action-panel {
  display: none;
}

.option-button {
  font-size: 20px;
  width: 120px;
  height: 75px;
}

#button-start {
  width:200px;
  height:100px;
  font-size: 32px;
}

.option-form {
  font-size: 16px;
  width: 300px;
  height: 100px;
}

.stat-button {
  font-size: 18px;
  width: 50%;
  height: 75px;
}

.action-button {
  font-size: 18px;
  width: 50%;
  height: 75px;
  display: none;
}

#victim-table {
  display: none;
  margin: auto;
  width: 80%;
}

.victim-table-cell {
  width: 10%;
}

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

input[type="radio"]:checked ~ .reveal-if-active,
input[type="checkbox"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 500000px; /* little bit of a magic number :( */
  overflow: visible;
}

.flex-outer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding: 0px;
}

.custom-category {
  text-align: center;
  margin: 10px;
  width: 500px;
}

.custom-category-sub {
  text-align: center;
  margin: 10px;
  width: 400px;
  padding: 0px;
  margin: 0px 50px;
}

body.light .custom-category {
  background: #ddd;
}

body.dark .custom-category {
  background: #222;
}

body.dark .custom-category div {
  background: #222;
}
.custom-header-static {
  font-size: 250%;
  margin: 10px;
  display: inline-block;
}

body.light .custom-header-static {
  background: #ddd;
}

body.dark .custom-header-static {
  background: #555;
}

.custom-header {
  font-size: 250%;
  margin: 10px;
  display: inline-block;
  border-style: dotted;
  border-width: 1px;
  border-length: 5px;
}

.custom-category-sub .custom-header {
  font-size: 200%;
}

body.light .custom-header {
  color: #aaa;
  background: #ddd;
}

body.dark .custom-header {
  color: #555;
  background: #222;
}

body.light input[type="checkbox"]:checked+
.custom-header {
  color: #000;
  border-style: solid;
  margin: 10px;
  background: #bbb;
}

body.dark input[type="checkbox"]:checked+
.custom-header {
  color: #fff;
  border-style: solid;
  margin: 10px;
  background: #444;
}

.custom-header-checkbox {
  display: none;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 500px;
}

.flex-outer input[type="radio"],
.flex-outer input[type="checkbox"] {
  display: none;
}

.flex-outer input[type="radio"] + label:not(.custom-header),
.flex-outer input[type="checkbox"] + label:not(.custom-header) {
  user-select: none;
  flex: 1 0 400px;
  font-size: 24px;
}

body.dark .flex-outer input[type="radio"] + label:not(.custom-header),
body.dark .flex-outer input[type="checkbox"] + label:not(.custom-header) {
  color: #888;
  background: #311;
}

body.dark .flex-outer input[type="radio"]:checked + label:not(.custom-header),
body.dark .flex-outer input[type="checkbox"]:checked + label:not(.custom-header) {
  color: #fff;
  background: #131;
}

body.light .flex-outer input[type="radio"] + label:not(.custom-header),
body.light .flex-outer input[type="checkbox"] + label:not(.custom-header) {
  color: #555;
  background: #faa;
}

body.light .flex-outer input[type="radio"]:checked + label:not(.custom-header),
body.light .flex-outer input[type="checkbox"]:checked + label:not(.custom-header) {
  color: #111;
  background: #afa;
}

.flex-outer label {
  flex: 0 1 40%;
}

.flex-outer label + * {
  flex: 1 1 20%;
}

.preview {
  flex: 1 1 10%;
}

.flex-outer-sub {
  padding: 0px;
  align-items: center;
}

.flex-outer-sub li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
}

body.light .has-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

body.dark .has-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white;
}

body.light a {
  color: #0000FF;
  text-decoration: none;
}

body.light a:visited {
  color: #0000AA;
}

body.light a:hover {
  color: #0000EE;
}

body.dark a {
  color: #0000FF;
  text-decoration: none;
}

body.dark a:visited {
  color: #0000DD;
}

body.dark a:hover {
  color: #0000EE;
}

.character-build {
  margin: 50px;
  width: 90%;
  text-align: center;
}

#grow-panel {
  width: 100%;
}

th {
  font-weight: normal;
}

.growth-option {
  display: none;
}

.growth-option+label {
  display: none;
}

.growth-label {
  font-size: 20pt;
}

input[type="radio"]:checked+
.growth-label {
  font-weight: bold;
}

.growth-amount {
  width: 50%;
}

ul {
  list-style: none;
}

.action-tab {
  flex-wrap: wrap;
  display: none;
  width: 100%;
}

.action-part-button {
  border: 1px;
  font-size: 30px;
  width: 50%;
  height: 100px;
  display: none;
}

.action-part-button.active {
  border: 1px;
  font-size: 30px;
  width: 50%;
  height: 100px;
  background: #555;
}

/* SRC: https://stackoverflow.com/questions/29738787/filling-water-animation/29740828 */

.meter {
  border-radius: 0%;
  width: 10%;
  height: 150px;
  background: #000;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  display: inline-block;
}

.meter .meterLabel {
  z-index: 1;
  writing-mode: vertical-lr;
  text-orientation: upright;
  background: none;
  mix-blend-mode: exclusion;
  transform: rotate(0deg);
  font-size: 12px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.meter .fill {
  position: absolute;
  top: 0;
  left: 0;
}

.meter #waveShape {
  animation-name: waveAction;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  width:300px;
  height: 150px;
  fill: #04ACFF;
}

.meter#cumMeter #waveShape {
  fill: #EEEEEE;
}

.meter#femcumMeter #waveShape {
  fill: #999999;
}

.meter#milkMeter #waveShape {
  fill: #FFFFFF;
}

.meter#gasMeter #waveShape {
  fill: #33FF33;
}

.meter#pissMeter #waveShape {
  fill: #FFFF33;
}

.meter#scatMeter #waveShape {
  animation-duration: 2s;
  fill: #552222;
}

@keyframes fillAction {
    0% {
        transform: translate(0, 150px);
    }
    100% {
        transform: translate(0, -5px);
    }
}

@keyframes waveAction {
    0% {
        transform: translate(-150px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}
